<!DOCTYPE html> {% set config = {'database': database, 'pipeline': pipeline, 'prefix': prefix, 'is_pack': is_pack, 'is_web' : is_web, 'is_local':
is_local, 'relative_to' : relative_to} %}
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <title>
        {{ config['title'] }}
    </title>
    {% for i in static %} {% if i.endswith('.css') %}
    <link href="{{ static_folder }}/{{ i }}" rel="stylesheet" type="text/css" /> {% elif i.endswith('.js') %}
    <script src="{{ static_folder }}/{{ i }}" type="text/javascript"></script> {% endif %} {% endfor %}
    <!--[if IE]>
  <script type="text/javascript">
   alert('请使用现代浏览器浏览本页面');
   // window.open("http://outdatedbrowser.com/zh-cn", "_self");
  </script>
 <![endif]-->
</head>

<body>
    <header href="/">
        <div class="count">
            {{ images.__len__() }}
        </div>
        <noscript>
            <div class="noscript">
                需要浏览器启用javascript
            </div>
        </noscript>
        <nav>
            {% block nav %} {% endblock %}
        </nav>
        <div class="help hidden">
            <table>
                <tr>
                    <th>快捷键</th>
                    <th>用途</th>
                </tr>
                <tr>
                    <td>双击空白处</td>
                    <td>切换至动图</td>
                </tr>
                <tr>
                    <td>拖动图片</td>
                    <td>可拖入其他软件(例如 Nuke、资源管理器)</td>
                </tr>
            </table>
        </div>
    </header>
    <ul class="images">
        {% for image in images %}
        <li class="lightbox" data-full="{{ image.get_full(**config) }}" data-preview="{{ image.get_preview(**config) }}" data-thumb="null"
            id="image{{ loop.index }}" data-drag="{{ image.get_drag(**config) }}">
            <a href="#image{{ loop.index }}">
                <figure class="small">
                    <img alt="no image" src="{{ image.get_full(**config) }}" draggable="true" />
                    <figcaption>
                        {{image.name}}
                        <!-- SNJYW_EP26_01_
                        <span class="highlight">
                            sc001
                        </span> -->
                    </figcaption>
                </figure>
            </a>
            <div class="viewer">
                <a class="close" href="#void">
                </a>
                <div class="detail">

                </div>
                <figure class="full">
                    <a href="{{ image.get_full(**config) }}" target="_blank">
                        <img alt="no image" src="{{ image.get_full(**config) }}" draggable="true" />
                    </a>
                    <figcaption>
                        {{image}}
                    </figcaption>
                </figure>
                <a class="prev" href="#image{{ loop.index - 1 }}">
                </a>
                <a class="next" href="#image{{ loop.index + 1 }}">
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
</body>

</html>