<!DOCTYPE html> {% set config = {'database': database, 'pipeline': pipeline, 'prefix': prefix, 'is_pack': is_pack, 'is_client' : is_client,
'is_local': is_local, 'relative_to' : relative_to} %} {% set rev=4 %}
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <title>
        {{ config['title'] }}
    </title>
    {% for i in static %} {% if i.endswith('.css') %}
    <link href="{{ static_folder }}/{{ i }}?rev={{ rev }}" rel="stylesheet" type="text/css" /> {% elif i in ('html5shiv.min.js', ) %}
    <!--[if lt IE 9]>
	<script src="{{ static_folder }}/{{ i }}?rev={{ rev }}"></script>
    <![endif]-->{% elif i.endswith('.js') %}
    <script src="{{ static_folder }}/{{ i }}?rev={{ rev }}"></script> {% endif %} {% endfor %}
    <!--[if IE]>
    <script type="text/javascript">
    alert('请使用现代浏览器浏览本页面');
    // window.open("http://outdatedbrowser.com/zh-cn", "_self");
    </script>
    <![endif]-->
    <script>
        isClient = "{{ config['is_client'] }}" === "True";
    </script>
</head>

<body>
    <header>
        <div class="count">
            {{ images.__len__() }}
        </div>
        <div id="_remove_me">
            页面脚本无法运行, 功能受限
        </div>
        <script>
            let element = document.getElementById('_remove_me');
            element.parentElement.removeChild(element)
        </script>
        <nav>
            <div class="refresh-module hidden">
                <button>
                    <div>
                        <span></span>
                    </div>
                </button>
            </div>
            <div class="hidden" id="control">
                <label for="caption-switch">
                    标题
                </label>
                <input type="checkbox" , id='caption-switch'></input>
            </div>
            {% block nav %} {% endblock %}
        </nav>
        <div class="help hidden">
            <table>
                <tr>
                    <th>快捷键</th>
                    <th>用途</th>
                </tr>
                <tr>
                    <td>双击两侧空白处</td>
                    <td>播放所有可见视频</td>
                </tr>
                <tr>
                    <td>拖动图片</td>
                    <td>可拖入其他软件(例如 Nuke)</td>
                </tr>
            </table>
        </div>
    </header>
    <ul class="images">
        {% for image in images %}
        <li class="lightbox" id="image{{ loop.index }}" data-drag="{{ image.get_drag(**config) }}" data-uuid="{{ image.uuid }}">
            <a href="#image{{ loop.index }}" class="zoom" draggable="false">
                <video class='small hidden' data-poster="{{ image.get('thumb', **config) }}" data-src="{{ image.get('preview', **config) }}"
                    muted loop>
                    <img alt="no image" data-src="{{ image.get('thumb', **config) }}" />
                </video>
                <div class="noscript">
                    <noscript>
                        <video poster="{{ image.get('thumb', **config) }}" src="{{ image.get('preview', **config) }}" muted loop>
                            <img alt="no image" src="{{ image.get('thumb', **config) }}" />
                        </video>
                    </noscript>
                </div>
                <div class='caption' title="{{ image.name | e }}">
                    {{ image.name | e }}
                </div>
            </a>
            <div class="viewer">
                <div class="detail"> </div>
                <a class="close" href="#void"> </a>
                <video class='full hidden' data-poster="{{ image.get('full', **config) }}" data-src="{{ image.get('preview', **config) }}">
                    <a href="{{ image.get('full', **config) }}" target="_blank">
                        <img alt="no image" data-src="{{ image.get('full', **config) }}" />
                    </a>
                </video>
                <div class="noscript">
                    <noscript>
                        <video class='full' poster="{{ image.get('full', **config) }}" src="{{ image.get('preview', **config) }}">
                            <a href="{{ image.get('full', **config) }}" target="_blank">
                                <img alt="no image" src="{{ image.get('full', **config) }}" />
                            </a>
                        </video>
                    </noscript>
                </div>
                <div class="bottom">
                    <div class='caption' title="{{ image.name | e }}">
                        <span>{{ image.name | e }} </span>
                    </div>
                </div>
                <a class="prev" href="#image{{ loop.index - 1 }}"> </a>
                <a class="next" href="#image{{ loop.index + 1 }}"> </a> {% block viewer %} {% endblock %}
            </div>
        </li>
        {% endfor %}
    </ul>
</body>

</html>