build/
dist/
*.pyc
*.spec
*.egg-info
.pytest_cache

# Virtual environment
/.venv
.tox/

# vscode
.vscode/

# Bin folder
/bin/

# UML
packages.png
classes.png

# SASS
.sass-cache/

# coverage.py
.coverage
