[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "~=1.9.3"
rope = "*"
"autopep8" = "*"
mock = "*"
PySide2 = "*"
pytest = "*"

[packages]
psutil = "*"
"pathlib2" = {version = "*", python_version = "== '2.*'"}
"Qt.py" = "*"

[requires]
python_version = "3.7"