@charset "UTF-8";
* {
    transition: 0.5s ease-in-out;
}

html {
    height: 100%;
    margin: auto;
}

body {
    height: 100%;
    margin: auto;
    background: black;
    font-family: "Microsoft YaHei", SimHei, sans-serif;
}

header {
    position: fixed;
    border: 1px solid white;
    color: white;
    padding: 0.5em;
    margin: 0.5em;
    right: 0%;
    top: 0%;
    text-align: right;
    opacity: 0.3;
}

div.noscript,
div.noscript div {
    display: inherit;
    height: 100%;
    margin: 0;
    width: 100%;
}

.hidden {
    display: none !important;
}

.help table {
    td,
    th {
        max-width: 200px;
        word-break: break-all;
        text-align: center;
    }
}

nav button {
    display: inline;
}

a.button {
    text-decoration: none;
}

header {
    .count {
        &:before {
            content: "总计: ";
        }
        &:after {
            content: " 图像";
        }
    }
    &:hover {
        opacity: 1;
        background: black;
    }
}

ul.images {
    width: 85%;
    color: grey;
    margin: auto;
    display: block;
    text-align: center;
    &:hover {
        background: #050505;
        border-left: 1px dotted rgba(255, 255, 255, 0.3);
        border-right: 1px dotted rgba(255, 255, 255, 0.3);
        .lightbox:not(:hover):not(:target) .small {
            opacity: 0.4;
        }
    }
    .highlight {
        color: black;
        background: grey;
    }
    a {
        text-decoration: none;
        &:link {
            color: inherit;
        }
        &:visited {
            color: burlywood;
            .highlight {
                color: black;
                background: burlywood;
            }
        }
    }
}

video {
    max-width: 100%;
    max-height: 100%;
}

.lightbox {
    display: inline-block;
    *max-width: 400px;
    margin: 0;
    figcaption {
        word-break: keep-all;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: auto;
        transition: inherit;
    }
    /* loading indicator*/
    .mark {
        &.container {
            position: absolute;
            padding: 10px;
            z-index: 1;
            span.mark {
                padding: 5px;
                &[for="thumb"]:before {
                    content: "缩略图";
                }
                &[for="preview"]:before {
                    content: "动图";
                }
                &[for="full"]:before {
                    content: "大图";
                }
                &:after {
                    content: "读取中...";
                    font-size: 50%;
                    opacity: 0.5;
                }
            }
        }
    }
    .small {
        height: 200px !important;
        display: block;
        text-align: center;
        margin: 0;
        cursor: zoom-in;
        img {
            border: 1px solid grey;
        }
    }
    .viewer {
        visibility: hidden;
        z-index: 100;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        top: 0;
        left: 0;
        /* for animation */
        transform: translate(0, -100%);
        .full {
            z-index: 2;
            position: fixed;
            top: 0%;
            left: 0%;
            width: 100%;
            top: 5%;
            height: 70%;
            opacity: 0;
            outline: none;
            pointer-events: none;
            video {
                display: block;
                pointer-events: visible;
                margin: auto;
                height: 90%;
            }
            /* for animation */
            transition: inherit;
            opacity: 0;
            img {
                position: fixed;
                left: 50%;
                transform: translate(-50%, -50%);
                max-height: 70%;
                max-width: 90%;
                pointer-events: auto;
                /* For animation */
                top: 30%;
            }
            figcaption {
                position: fixed;
                z-index: 3;
                top: 110%;
                left: 50%;
                font-size: 1.5em;
                transform: translate(-50%, -100%);
                text-shadow: 1px 1px 0 black;
                background: rgba(0, 0, 0, 0.2);
            }
        }
        a {
            &.prev,
            &.next {
                z-index: 3;
                position: fixed;
                text-decoration: none;
                font-size: 3em;
                background: rgba(255, 255, 255, 0.1);
                padding: 5% 2%;
                opacity: 0;
                top: 50%;
                transform: translate(0%, -50%);
                transition: 0.4s ease-in-out;
                &:hover {
                    background: rgba(255, 255, 255, 0.2);
                }
            }
            &.prev {
                left: -10%;
                &:before {
                    content: "<";
                }
            }
            &.next {
                right: -10%;
                &:after {
                    content: ">";
                }
            }
            &.close {
                z-index: 1;
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0px;
                cursor: zoom-out;
            }
        }
    }
    &.hidden {
        width: 10px;
        overflow: hidden;
        height: 200px;
        background: linear-gradient(black, grey 33%, black);
        .small {
            width: 10px;
            height: 200px;
            :not(a) {
                display: none;
            }
        }
    }
    &:target>.viewer {
        visibility: visible;
        transform: none;
        .full {
            opacity: 1;
            height: 90%;
            img {
                top: 50%;
                max-height: 90%;
            }
        }
        figcaption {
            top: 99%;
        }
        a {
            &.prev,
            &.next {
                opacity: 1;
            }
            &.prev {
                left: 1%;
            }
            &.next {
                right: 1%;
            }
        }
    }
}

/* Indicate invaid anchor */

a[href=\#undefined] {
    opacity: 0.2 !important;
}