@charset "UTF-8";
* {
  transition: 0.5s ease-in-out; }

html {
  height: 100%;
  margin: auto; }

body {
  height: 100%;
  margin: auto;
  background: black;
  font-family: "Microsoft YaHei", SimHei, sans-serif; }

header {
  position: fixed;
  border: 1px solid white;
  color: white;
  padding: 0.5em;
  margin: 0.5em;
  right: 0%;
  top: 0%;
  text-align: right;
  opacity: 0.3; }

div.noscript,
div.noscript div {
  display: inherit;
  height: 100%;
  margin: 0;
  width: 100%; }

.hidden {
  display: none !important; }

.help table td,
.help table th {
  max-width: 200px;
  word-break: break-all;
  text-align: center; }

nav button {
  display: inline; }

a.button {
  text-decoration: none; }

header .count:before {
  content: "总计: "; }
header .count:after {
  content: " 图像"; }
header:hover {
  opacity: 1;
  background: black; }

ul.images {
  width: 85%;
  color: grey;
  margin: auto;
  display: block;
  text-align: center; }
  ul.images:hover {
    background: #050505;
    border-left: 1px dotted rgba(255, 255, 255, 0.3);
    border-right: 1px dotted rgba(255, 255, 255, 0.3); }
    ul.images:hover .lightbox:not(:hover):not(:target) .small {
      opacity: 0.4; }
  ul.images .highlight {
    color: black;
    background: grey; }
  ul.images a {
    text-decoration: none; }
    ul.images a:link {
      color: inherit; }
    ul.images a:visited {
      color: burlywood; }
      ul.images a:visited .highlight {
        color: black;
        background: burlywood; }

video {
  max-width: 100%;
  max-height: 100%; }

.lightbox {
  display: inline-block;
  *max-width: 400px;
  margin: 0;
  /* loading indicator*/ }
  .lightbox figcaption {
    word-break: keep-all;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: auto;
    transition: inherit; }
  .lightbox .mark.container {
    position: absolute;
    padding: 10px;
    z-index: 1; }
    .lightbox .mark.container span.mark {
      padding: 5px; }
      .lightbox .mark.container span.mark[for="thumb"]:before {
        content: "缩略图"; }
      .lightbox .mark.container span.mark[for="preview"]:before {
        content: "动图"; }
      .lightbox .mark.container span.mark[for="full"]:before {
        content: "大图"; }
      .lightbox .mark.container span.mark:after {
        content: "读取中...";
        font-size: 50%;
        opacity: 0.5; }
  .lightbox .small {
    height: 200px !important;
    display: block;
    text-align: center;
    margin: 0;
    cursor: zoom-in; }
    .lightbox .small img {
      border: 1px solid grey; }
  .lightbox .viewer {
    visibility: hidden;
    z-index: 100;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    /* for animation */
    transform: translate(0, -100%); }
    .lightbox .viewer .full {
      z-index: 2;
      position: fixed;
      top: 0%;
      left: 0%;
      width: 100%;
      top: 5%;
      height: 70%;
      opacity: 0;
      margin: 0;
      outline: none;
      pointer-events: none; }
      .lightbox .viewer .full video {
        display: block;
        margin: auto;
        pointer-events: visible;
        height: 100%; }
        .lightbox .viewer .full video img {
          max-width: 90%;
          /* for animation */
          max-height: 70%; }
      .lightbox .viewer .full figcaption {
        position: fixed;
        z-index: 3;
        top: 110%;
        left: 50%;
        font-size: 1.5em;
        transform: translate(-50%, -100%);
        text-shadow: 1px 1px 0 black;
        background: rgba(0, 0, 0, 0.2); }
    .lightbox .viewer a.prev, .lightbox .viewer a.next {
      z-index: 3;
      position: fixed;
      text-decoration: none;
      font-size: 3em;
      background: rgba(255, 255, 255, 0.1);
      padding: 5% 2%;
      opacity: 0;
      top: 50%;
      transform: translate(0%, -50%);
      transition: 0.4s ease-in-out; }
      .lightbox .viewer a.prev:hover, .lightbox .viewer a.next:hover {
        background: rgba(255, 255, 255, 0.2); }
    .lightbox .viewer a.prev {
      left: -10%; }
      .lightbox .viewer a.prev:before {
        content: "<"; }
    .lightbox .viewer a.next {
      right: -10%; }
      .lightbox .viewer a.next:after {
        content: ">"; }
    .lightbox .viewer a.close {
      z-index: 1;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      cursor: zoom-out; }
    .lightbox .viewer button {
      z-index: 3;
      position: absolute; }
      .lightbox .viewer button.refresh {
        top: 10px;
        right: 10px; }
        .lightbox .viewer button.refresh:after {
          content: "刷新"; }
  .lightbox.shrink {
    width: 10px;
    overflow: hidden;
    height: 200px;
    background: linear-gradient(black, grey 33%, black); }
    .lightbox.shrink .small figcaption {
      display: none; }
  .lightbox:target > .viewer {
    visibility: visible;
    transform: none; }
    .lightbox:target > .viewer .full {
      opacity: 1;
      height: 85%; }
      .lightbox:target > .viewer .full img {
        max-height: 100%; }
    .lightbox:target > .viewer figcaption {
      top: 99%; }
    .lightbox:target > .viewer a.prev, .lightbox:target > .viewer a.next {
      opacity: 1; }
    .lightbox:target > .viewer a.prev {
      left: 1%; }
    .lightbox:target > .viewer a.next {
      right: 1%; }

/* Indicate invaid anchor */
a[href=\#undefined] {
  opacity: 0.2 !important; }

/*# sourceMappingURL=csheet.css.map */
