@charset "UTF-8";
html {
  height: 100%;
  margin: auto; }

body {
  height: 100%;
  margin: auto;
  background: black;
  font-family: "Microsoft YaHei", SimHei, sans-serif; }

header {
  position: fixed;
  border: 1px solid white;
  color: white;
  padding: 0.5em;
  margin: 0.5em;
  right: 0%;
  top: 0%;
  text-align: right;
  opacity: 0.3; }

div.noscript,
div.noscript div {
  display: inherit;
  height: 100%;
  margin: 0;
  width: 100%; }

.hidden {
  display: none !important; }

.help table td,
.help table th {
  max-width: 200px;
  word-break: break-all;
  text-align: center; }

div.refresh-module {
  display: inline-block; }
  div.refresh-module button {
    position: relative;
    width: 100%; }
    div.refresh-module button:before {
      content: "自动刷新"; }
    div.refresh-module button[status="on"]:after {
      content: ": 开"; }
    div.refresh-module button[status="off"]:after {
      content: ": 关"; }
    div.refresh-module button div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: white;
      box-sizing: border-box; }
      div.refresh-module button div span {
        height: 100%;
        background: #444;
        display: block; }

a.button {
  text-decoration: none; }

header {
  z-index: 1;
  transition: 0.5s ease-in-out; }
  header .count:before {
    content: "总计: "; }
  header .count:after {
    content: " 图像"; }
  header:hover {
    opacity: 1;
    background: black; }

ul.images {
  width: 85%;
  color: grey;
  margin: auto;
  display: block;
  text-align: center; }
  ul.images:hover {
    background: #050505;
    border-left: 1px dotted rgba(255, 255, 255, 0.3);
    border-right: 1px dotted rgba(255, 255, 255, 0.3); }
    ul.images:hover .lightbox:not(:hover):not(:target) .small {
      opacity: 0.4; }
  ul.images .highlight {
    color: black;
    background: grey; }
  ul.images a {
    text-decoration: none; }
    ul.images a:link {
      color: inherit; }
    ul.images a:visited {
      color: burlywood; }
      ul.images a:visited .highlight {
        color: black;
        background: burlywood; }

video {
  max-width: 100%;
  max-height: 100%; }

.lightbox {
  display: inline-block;
  margin: 0;
  transition: 0.5s ease-in-out;
  position: relative;
  height: 200px;
  border: 1px solid black;
  box-sizing: border-box;
  overflow: hidden; }
  .lightbox:not(:hover) a.zoom .caption {
    transform: translateY(100%); }
  .lightbox .caption {
    word-break: keep-all;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: auto;
    transition: 0.3s ease-out; }
  .lightbox a.zoom .caption {
    color: #EEE;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 30%;
    word-break: break-all;
    transform: none;
    background: rgba(0, 0, 0, 0.5); }
  .lightbox .small {
    z-index: 1;
    text-align: center;
    margin: 0;
    width: 100%;
    transition: 0.5s ease-in-out;
    cursor: zoom-in; }
    .lightbox .small img {
      border: 1px solid grey; }
  .lightbox .viewer {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* for animation */
    visibility: hidden;
    transition: inherit;
    transform: translate(0, -100%); }
    .lightbox .viewer .detail {
      z-index: 3;
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      margin: 5px;
      background: black; }
      .lightbox .viewer .detail table {
        border-spacing: 0.5em 0.2em; }
        .lightbox .viewer .detail table td.status {
          color: white;
          opacity: 0.5;
          border-radius: 8px; }
          .lightbox .viewer .detail table td.status[status=Wait] {
            background: #00557f; }
            .lightbox .viewer .detail table td.status[status=Wait]::before {
              content: "等待"; }
          .lightbox .viewer .detail table td.status[status=Check] {
            background: #dbdb02; }
            .lightbox .viewer .detail table td.status[status=Check]::before {
              content: "检查"; }
          .lightbox .viewer .detail table td.status[status=Retake] {
            background: red; }
            .lightbox .viewer .detail table td.status[status=Retake]::before {
              content: "返修"; }
          .lightbox .viewer .detail table td.status[status=Approve] {
            background: #00ce00; }
            .lightbox .viewer .detail table td.status[status=Approve]::before {
              content: "通过"; }
          .lightbox .viewer .detail table td.status[status=Close]::before {
            content: "<关闭>"; }
        .lightbox .viewer .detail table td.notes {
          transition: 0.3s ease-out; }
          .lightbox .viewer .detail table td.notes:hover {
            background: rgba(255, 255, 255, 0.2); }
    .lightbox .viewer .full {
      z-index: 2;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -52%);
      max-width: 90%;
      /* for animation */
      max-height: 70%; }
      .lightbox .viewer .full:hover {
        z-index: 3; }
    .lightbox .viewer .bottom {
      z-index: 3;
      position: absolute;
      box-sizing: border-box;
      bottom: 0;
      width: 100%;
      padding: 0.5%; }
      .lightbox .viewer .bottom .caption {
        max-width: 80%;
        color: #EEE;
        text-shadow: 1px 1px 0 black; }
        .lightbox .viewer .bottom .caption span {
          background: rgba(0, 0, 0, 0.5);
          padding: 0.5em; }
    .lightbox .viewer a.prev, .lightbox .viewer a.next {
      z-index: 4;
      position: fixed;
      text-decoration: none;
      font-size: 3em;
      background: rgba(255, 255, 255, 0.1);
      padding: 5% 2%;
      opacity: 0;
      top: 50%;
      transform: translate(0%, -50%);
      transition: 0.4s ease-in-out; }
      .lightbox .viewer a.prev:hover, .lightbox .viewer a.next:hover {
        background: rgba(255, 255, 255, 0.2); }
    .lightbox .viewer a.prev {
      left: -10%; }
      .lightbox .viewer a.prev:before {
        content: "<"; }
    .lightbox .viewer a.next {
      right: -10%; }
      .lightbox .viewer a.next:after {
        content: ">"; }
    .lightbox .viewer a.close {
      z-index: 1;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      cursor: zoom-out; }
    .lightbox .viewer button {
      z-index: 3;
      position: absolute; }
      .lightbox .viewer button.refresh {
        top: 10px;
        right: 10px; }
        .lightbox .viewer button.refresh:after {
          content: "刷新"; }
  .lightbox.shrink {
    background: rgba(255, 255, 255, 0.2); }
    .lightbox.shrink .caption {
      visibility: hidden; }
  .lightbox.updating-thumb {
    border: 1px solid gray; }
  .lightbox.updating-full video.full {
    border: 1px solid white; }
  .lightbox.failed-thumb {
    border: 1px solid darkred;
    opacity: 0.5; }
  .lightbox.failed-full video.full {
    border: 1px solid darkred; }
  .lightbox:target .viewer {
    visibility: visible;
    transform: none; }
    .lightbox:target .viewer .full {
      max-height: 90%; }
    .lightbox:target .viewer a.prev, .lightbox:target .viewer a.next {
      opacity: 1; }
    .lightbox:target .viewer a.prev {
      left: 1%; }
    .lightbox:target .viewer a.next {
      right: 1%; }

/* Indicate invaid anchor */
a[href=\#undefined] {
  opacity: 0.2 !important; }

/*# sourceMappingURL=csheet.css.map */
