@charset "UTF-8";
html {
    height: 100%;
    margin: auto;
}

body {
    height: 100%;
    margin: auto;
    background: black;
    font-family: "Microsoft YaHei", SimHei, sans-serif;
}

header {
    position: fixed;
    border: 1px solid white;
    color: white;
    padding: 0.5em;
    margin: 0.5em;
    right: 0%;
    top: 0%;
    text-align: right;
    opacity: 0.3;
}

div.noscript,
div.noscript div {
    display: inherit;
    height: 100%;
    margin: 0;
    width: 100%;
}

.hidden {
    display: none !important;
}

.help table {
    td,
    th {
        max-width: 200px;
        word-break: break-all;
        text-align: center;
    }
}

div.refresh-module {
    display: inline-block;
    button {
        position: relative;
        width: 100%;
        &:before {
            content: "自动刷新"
        }
        &[status="on"]:after {
            content: ": 开"
        }
        &[status="off"]:after {
            content: ": 关"
        }
        div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: white;
            box-sizing: border-box;
            span {
                height: 100%;
                background: #444;
                display: block;
            }
        }
    }
}

a.button {
    text-decoration: none;
}

header {
    z-index: 1;
    transition: 0.5s ease-in-out;
    .count {
        &:before {
            content: "总计: ";
        }
        &:after {
            content: " 图像";
        }
    }
    &:hover {
        opacity: 1;
        background: black;
    }
}

ul.images {
    width: 85%;
    color: grey;
    margin: auto;
    display: block;
    text-align: center;
    &:hover {
        background: #050505;
        border-left: 1px dotted rgba(255, 255, 255, 0.3);
        border-right: 1px dotted rgba(255, 255, 255, 0.3);
        .lightbox:not(:hover):not(:target) .small {
            opacity: 0.4;
        }
    }
    .highlight {
        color: black;
        background: grey;
    }
    a {
        text-decoration: none;
        &:link {
            color: inherit;
        }
        &:visited {
            color: burlywood;
            .highlight {
                color: black;
                background: burlywood;
            }
        }
    }
}

video {
    max-width: 100%;
    max-height: 100%;
}

.lightbox {
    display: inline-block;
    margin: 0;
    transition: 0.5s ease-in-out;
    position: relative;
    height: 200px;
    border: 1px solid black;
    box-sizing: border-box;
    overflow: hidden; // &>a {
    //     display: block;
    // }
    &:not(:hover) {
        a.zoom .caption {
            transform: translateY(100%)
        }
    }
    .caption {
        word-break: keep-all;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: auto;
        transition: 0.3s ease-out;
    }
    a.zoom .caption {
        color: #EEE;
        position: absolute;
        bottom: 0;
        width: 100%;
        max-height: 30%;
        word-break: break-all;
        transform: none;
        background: rgba(0, 0, 0, 0.5)
    }
    .small {
        z-index: 1;
        text-align: center;
        margin: 0;
        width: 100%;
        transition: 0.5s ease-in-out;
        cursor: zoom-in;
        img {
            border: 1px solid grey;
        }
    }
    .viewer {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        /* for animation */
        visibility: hidden;
        transition: inherit;
        transform: translate(0, -100%);
        .detail{
            z-index: 3;
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            margin: 5px;
            background: black;
            table{
                border-spacing: 0.5em 0.2em;
                td.status{
                    color: white;
                    opacity: 0.5;
                    border-radius: 8px;
                    &[status=Wait]{
                        background: rgb(0, 85, 127);
                        &::before{
                            content: "等待"
                        }
                    }
                    &[status=Check]{
                        background: rgb(219, 219, 2);
                        &::before{
                            content: "检查"
                        }
                    }
                    &[status=Retake]{
                        background: rgb(255, 0, 0);
                        &::before{
                            content: "返修"
                        }
                    }
                    &[status=Approve]{
                        background: rgb(0, 206, 0);
                        &::before{
                            content: "通过"
                        }
                    }
                    &[status=Close]{
                        &::before{
                            content: "<关闭>"
                        }
                    }
                }
                td.notes{
                    transition: 0.3s ease-out;
                    &:hover{
                        background: rgba(255, 255, 255, 0.2)
                    }
                }
            }
        }
        .full {
            z-index: 2;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -52%);
            max-width: 90%;
            /* for animation */
            max-height: 70%;
            &:hover{
                z-index: 3
            }
        }
        .bottom {
            z-index: 3;
            position: absolute;
            box-sizing: border-box;
            bottom: 0;
            width: 100%;
            padding: 0.5%;
            .caption {
                max-width: 80%;
                color: #EEE;
                text-shadow: 1px 1px 0 black;
                span {
                    background: rgba(0, 0, 0, 0.5);
                    padding: 0.5em
                }
            }
        }
        a {
            &.prev,
            &.next {
                z-index: 4;
                position: fixed;
                text-decoration: none;
                font-size: 3em;
                background: rgba(255, 255, 255, 0.1);
                padding: 5% 2%;
                opacity: 0;
                top: 50%;
                transform: translate(0%, -50%);
                transition: 0.4s ease-in-out;
                &:hover {
                    background: rgba(255, 255, 255, 0.2);
                }
            }
            &.prev {
                left: -10%;
                &:before {
                    content: "<";
                }
            }
            &.next {
                right: -10%;
                &:after {
                    content: ">";
                }
            }
            &.close {
                z-index: 1;
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0px;
                cursor: zoom-out;
            }
        }
        button {
            z-index: 3;
            position: absolute;
            &.refresh {
                top: 10px;
                right: 10px;
                &:after {
                    content: '刷新'
                }
            }
        }
    }
    &.shrink {
        background: rgba(255, 255, 255, 0.2);
        .caption {
            visibility: hidden;
        }
    }
    &.updating-thumb {
        border: 1px solid gray;
    }
    &.updating-full {
        video.full {
            border: 1px solid white;
        }
    }
    &.failed-thumb {
        border: 1px solid darkred;
        opacity: 0.5;
    }
    &.failed-full {
        video.full {
            border: 1px solid darkred;
        }
    }
    &:target {
        & .viewer {
            visibility: visible;
            transform: none;
            .full {
                max-height: 90%;
            }
            a {
                &.prev,
                &.next {
                    opacity: 1;
                }
                &.prev {
                    left: 1%;
                }
                &.next {
                    right: 1%;
                }
            }
        }
    }
}

/* Indicate invaid anchor */

a[href=\#undefined] {
    opacity: 0.2 !important;
}